@import url('https://fonts.googleapis.com/css?family=EB+Garamond');


/*******

    RESET CSS

   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)

*******/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}






body {
  padding-top:80px; /* the body has to start just after de navigation top bar */
  width: 33%;
  max-width: 700px;
  min-width: 500px;
  margin: 0 33%;
  font-family: "Fira Sans", sans-serif;
  text-align: justify;
  line-height: 1.6;
}

img {
  width: 100%;
}

a, a:visited {
  color: blue;
  text-decoration: none;
  border-bottom: 1px dashed blue;
}

table, td, col {
  border: 1px solid #eee;
}

h1 {
  text-align: left;
}

h1, h2, h3, h4, h5 {
  margin: 25px 0 15px;
  line-height: normal;
}

figcaption {
  text-align: center;
  color: #bbb;
  /*font-family: serif;*/
  font-style: italic;
  font-size: 0.9em;
}

blockquote {
  font-family: "EB Garamond";
  font-size: 1em;
  line-height: 1.4;
  margin: 20px 20px 25px 40px;
}

blockquote em {
  /*font-style: normal;*/
}


/******

    Header

 ******/

header {
  box-sizing: border-box;
  position: absolute;
  width: 33%;
  left: 0;
  padding: 20px;
}


/******

    Table of content

 ******/

#TOC {
  box-sizing: border-box;
  position: fixed;
  width: 33%;
  max-width: 300px;
  left: 0;
  top: 300px;
  padding: 0 30px;
  font-size: 90%;
  text-align: left;
}

#TOC ul li {
  list-style-type: none;
}

#TOC > ul {
  padding: 0;
}

/* we remove the first link because that's the h1, and it's already displayed at the top left corner */
#TOC > ul > li > a {
  display: none;
  list-style: none;
}

#TOC ul li ul li {
  margin-bottom: 5px;
}

#TOC > ul > li > ul > li {
  margin-bottom: 15px;
  opacity: 0.5;
}

#TOC ul li ul li ul {
  display: none;
}

/*#TOC ul li ul li:hover ul {*/
  /*display: block;*/
/*}*/

#TOC ul li ul li:hover::before {
  content: '->';
  box-sizing: border-box;
  padding: 0 10px 0 0;
  /*margin-left: -10px;*/
}

#TOC ul li ul li:hover {
  opacity: 1;
}

.current {
  opacity:1 !important;
}

/******

    Footnotes

 ******/

sup {
  font-size: 60%;
  position: relative;
  top: -6px;
}

.footnotes li {
  box-sizing: border-box;
  padding: 0 20px 0 0;
  font-size: 80%;
  line-height: 1.3;
  position: absolute;
  left:70%;
  width: 25%;
  max-width: 300px;
  text-align: left;
}


/******

    Reading help

 ******/

#chapterBar {
  box-sizing: border-box;
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  padding: 10px;
  height: 80px;
  background-color: white;
  display: flex;
  border-bottom: solid 1px #eee;
  flex-direction: column;
  align-content: space-between;
}

#currentChapter {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
  margin-top: 20px;
}

#percentageBar {
  background-color: lightgrey;
  height: 3px;
  /*width: 0;*/
  position: absolute;
  left: 0;
  top: 77px;
}

